<div class="max-w-screen min-h-screen h-max bg-gray-100 p-4 sm:p-12 md:p-16 lg:p-32 flex flex-col">
  <div class="flex justify-between mb-2 md:mb-8 items-center">
    <div>
      <h1 class="text-sm md:text-2xl">
        Features
      </h1>

      <span class="text-xs md:text-sm text-gray-600">
        A list of all feature toggles.
      </span>
    </div>

    <button
      class="text-sm md:text-base px-2 md:px-4 py-1 md:py-2 bg-indigo-600 hover:bg-indigo-700 text-white rounded-lg tracking-wide h-10"
      routerLink="new">
      Add feature
    </button>
  </div>


  <div class="bg-gray-50 rounded-lg shadow flex flex-col"
       [class.grow]="initialLoading"
       [class.items-center]="initialLoading"
       [class.justify-center]="initialLoading"
  >
    <svg class="animate-spin -ml-1 mr-3 h-16 w-16 text-indigo-500"
         xmlns="http://www.w3.org/2000/svg"
         fill="none"
         viewBox="0 0 24 24"
         *ngIf="initialLoading"
    >
      <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
      <path class="opacity-75" fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
    </svg>

    <div *ngFor="let feature of features"
         class="w-full p-4 border-b last:border-none border-gray-300 hover:shadow cursor-pointer flex flex-col sm:flex-row justify-between h-40 sm:h-20"
         [routerLink]="[feature.id]"
    >
      <div class="mb-4 sm:ml-4 sm:mb-0 sm:w-1/6 flex flex-col justify-center">
        <span *ngIf="feature.displayName"
              class="block text-sm"
        >
          {{ feature.displayName }}
        </span>

        <span class="block"
              [class.text-sm]="!feature.displayName"
              [class.text-xs]="feature.displayName"
              [class.text-gray-600]="feature.displayName"
        >
          {{ feature.technicalName }}
        </span>
      </div>

      <div class="sm:w-2/6 mb-4 sm:m-0 flex items-center">
        <p class="text-sm text-gray-600 truncate items-center">
          {{ feature.description }}
        </p>
      </div>

      <div class="sm:w-1/4 flex flex-col"
           [class.justify-center]="!feature.expiresOn"
           [class.justify-between]="feature.expiresOn"
      >
        <span *ngIf="feature.expiresOn"
              class="text-xs md:text-sm mb-1"
        >
          Expires on {{ feature.expiresOn | date }}
        </span>

        <div class="flex items-center">
          <span class="w-4 h-4 rounded-lg"
                [class.bg-red-500]="feature.inverted"
                [class.bg-green-500]="!feature.inverted"
          ></span>
          <span class="ml-2 text-xs md:text-sm">
            {{ feature.inverted ? 'Off' : 'On' }}
          </span>
        </div>
      </div>

      <div class="hidden sm:flex items-center">
        <img
          src="assets/icons/chevron.png"
          alt="arrow"
          width="12"
          height="12"
          class="gray-600"
        >
      </div>
    </div>
    <!--    <table class="table-auto w-full">-->
    <!--      <thead>-->
    <!--      <tr class="border-b border-gray-200">-->
    <!--        <th class="text-start text-sm font-medium py-3 px-4 tracking-wide">Name</th>-->
    <!--        <th class="text-start text-sm font-medium py-3 px-4 tracking-wide">Description</th>-->
    <!--        <th class="text-start text-sm font-medium py-3 px-4 tracking-wide">Expires On</th>-->
    <!--        <th class="text-start text-sm font-medium py-3 px-4 tracking-wide">Status</th>-->
    <!--        <th></th>-->
    <!--      </tr>-->
    <!--      </thead>-->
    <!--      <tbody class="bg-white">-->
    <!--      <tr *ngFor="let feature of features"-->
    <!--          class="border-b last:border-b-0 border-gray-200 hover:shadow-md cursor-pointer"-->
    <!--          [routerLink]="[feature.id]"-->
    <!--      >-->
    <!--        <td class="text-sm py-3 px-4 tracking-wide">-->
    <!--          {{ feature.displayName || feature.technicalName }}-->
    <!--        </td>-->
    <!--        <td class="text-sm py-3 px-4 tracking-wide">-->
    <!--          {{ feature.description }}-->
    <!--        </td>-->
    <!--        <td class="text-sm py-3 px-4 tracking-wide">-->
    <!--          {{ feature.expiresOn | date: 'medium' }}-->
    <!--        </td>-->
    <!--        <td class="text-sm py-3 px-4 tracking-wide">-->
    <!--          <span class="bg-green-200 px-1.5 py-1 rounded-xl text-green-700 font-bold"-->
    <!--                [class.bg-red-200]="feature.inverted"-->
    <!--                [class.text-red-700]="feature.inverted"-->
    <!--          >-->
    <!--          {{ feature.inverted ? "Off" : "On" }}-->
    <!--          </span>-->
    <!--        </td>-->
    <!--        <td class="text-sm py-3 px-4 tracking-wide">-->
    <!--          <a class="text-indigo-600"-->
    <!--             [routerLink]="[feature.id, 'edit']"-->
    <!--          >-->
    <!--            Edit-->
    <!--          </a>-->
    <!--        </td>-->
    <!--      </tr>-->
    <!--      </tbody>-->
    <!--    </table>-->
  </div>
</div>
