<div class="max-w-screen min-h-screen h-fit bg-gray-100 sm:p-12 md:p-16 lg:p-32 flex flex-col sm:flex-row">
  <div class="sm:w-1/3 p-4 sm:p-0">
    <h1 class="text-md sm:text-2xl">
      Edit feature
    </h1>

    <span class="text-sm text-gray-600">
      Edit an existing feature toggle.
    </span>
  </div>

  <div class="sm:w-2/3 h-fit bg-white sm:rounded-xl shadow flex flex-col justify-between">
    <div class="p-4 sm:p-8">
      <div class="md:w-4/6">
        <label class="block text-gray-700 text-sm font-medium"
               for="technicalName"
        >
          Technical name
        </label>
        <input id="technicalName"
               class="block mt-1 border border-gray-300 focus:outline-indigo-500 rounded-md px-3 py-1.5 w-full shadow-sm"
               type="text"
               placeholder="my-feature"
               [(ngModel)]="feature.technicalName"
        >
      </div>

      <div class="md:w-4/6 mt-4 sm:mt-8">
        <label class="block text-gray-700 text-sm font-medium"
               for="displayName"
        >
          Display name
        </label>
        <input id="displayName"
               class="block mt-1 border border-gray-300 focus:outline-indigo-500 rounded-md px-3 py-1.5 w-full shadow-sm"
               type="text"
               placeholder="My Feature"
               [(ngModel)]="feature.displayName"
        >
      </div>

      <div class="mt-4 sm:mt-8">
        <label class="block text-gray-700 text-sm font-medium"
               for="description"
        >
          Description
        </label>
        <textarea id="description"
                  class="block mt-1 border border-gray-300 focus:outline-indigo-500 rounded-md px-3 py-1.5 w-full shadow-sm"
                  placeholder="Lorem ipsum..."
                  rows="5"
                  [(ngModel)]="feature.description"
        ></textarea>
      </div>

      <div class="md:w-4/6 mt-4 sm:mt-8">
        <label class="block text-gray-700 text-sm font-medium"
               for="expiresOn"
        >
          Expires on
        </label>
        <input id="expiresOn"
               class="block mt-1 border border-gray-300 focus:outline-indigo-500 rounded-md px-3 py-1.5 w-full shadow-sm"
               type="datetime-local"
               [attr.value]="getExpiredOnDatetime()"
               (change)="setExpiredOnDatetime($event)"
        >
      </div>

      <div class="mt-4 sm:mt-8">
        <label class="block text-gray-700 text-sm font-medium"
               for="inverted"
        >
          Toggle status
        </label>
        <input id="inverted"
               type="button"
               class="mt-1 px-2 sm:px-4 py-1 sm:py-2 text-sm sm:text-base bg-green-600 focus:outline-none focus:bg-green-700 hover:bg-green-700 text-white font-bold cursor-pointer rounded-lg tracking-wide shadow"
               value="{{ feature.inverted ? 'Disabled' : 'Enabled' }}"
               [class.bg-green-600]="!feature.inverted"
               [class.bg-red-600]="feature.inverted"
               [class.hover:bg-green-700]="!feature.inverted"
               [class.hover:bg-red-700]="feature.inverted"
               [class.focus:bg-green-700]="!feature.inverted"
               [class.focus:bg-red-700]="feature.inverted"
               (click)="invert()"
        >
      </div>
    </div>

    <div class="p-6 bg-gray-50 flex items-center justify-end rounded-xl">
      <button
        class="mx-1.5 px-2 sm:px-4 py-1 sm:py-2 text-sm sm:text-base hover:bg-gray-100 focus:bg-gray-100 border border-gray-300 rounded-lg tracking-wide shadow focus:outline-none"
        (click)="goBack()"
      >
        Cancel
      </button>
      <button
        class="mx-1.5 px-2 sm:px-4 py-1 sm:py-2 text-sm sm:text-base bg-indigo-600 focus:bg-indigo-700 hover:bg-indigo-700 text-white rounded-lg tracking-wide shadow focus:outline-none"
        (click)="updateFeature()"
      >
        Update
      </button>
    </div>
  </div>

</div>

