<div class="min-w-screen min-h-screen h-max bg-gray-100 p-32 flex">
  <div class="bg-white w-full h-full rounded-lg shadow">
    <div class="p-6 border-b border-gray-200">
      <h1 class="text-xl">
        Feature Information
      </h1>

      <span class="text-sm text-gray-600">
        Information of a feature toggle, as well as it's status and customers.
      </span>
    </div>

    <div class="flex bg-gray-50 p-6">
      <h2 class="w-1/3 text-gray-600">
        Technical name
      </h2>

      <h2 class="w-2/3">
        {{ feature.technicalName }}
      </h2>
    </div>

    <div class="flex p-6">
      <h2 class="w-1/3 text-gray-600">
        Display name
      </h2>

      <h2 class="w-2/3">
        {{ feature.displayName }}
      </h2>
    </div>

    <div class="flex bg-gray-50 p-6">
      <h2 class="w-1/3 text-gray-600">
        Description
      </h2>

      <h2 class="w-2/3">
        {{ feature.description }}
      </h2>
    </div>

    <div class="flex p-6">
      <h2 class="w-1/3 text-gray-600">
        Expires on
      </h2>

      <h2 class="w-2/3">
        {{ feature.expiresOn ? (feature.expiresOn | date: 'long') : '-' }}
      </h2>
    </div>

    <div class="flex bg-gray-50 p-6">
      <h2 class="w-1/3 text-gray-600">
        Status
      </h2>

      <h2 class="w-2/3">
          <span class="bg-green-200 px-1.5 py-1 rounded-xl text-green-700 font-bold"
                [class.bg-red-200]="feature.inverted"
                [class.text-red-700]="feature.inverted"
          >
        {{ feature.inverted ? 'Off' : 'On' }}
        </span>
      </h2>
    </div>

    <div class="p-6 border-t border-gray-200 flex justify-end">
      <button
        class="mx-2 px-4 py-2 hover:bg-gray-100 focus:bg-gray-100 border border-gray-300 rounded-lg tracking-wide shadow focus:outline-none"
        (click)="goBack()"
      >
        Back
      </button>
      <button
        class="mx-1.5 px-4 py-2 bg-indigo-600 focus:bg-indigo-700 hover:bg-indigo-700 text-white rounded-lg tracking-wide shadow focus:outline-none"
        routerLink="edit"
      >
        Edit
      </button>
    </div>
  </div>
</div>
