<div class="max-w-screen min-h-screen h-fit bg-gray-100 sm:p-12 md:p-16 lg:p-32 flex flex-col sm:flex-row">
  <div class="sm:w-1/3 p-4 sm:p-0">
    <h1 class="text-md sm:text-2xl">
      New feature
    </h1>

    <span class="text-sm text-gray-600">
      Create a new feature toggle.
    </span>
  </div>

  <div class="sm:w-2/3 h-fit bg-white sm:rounded-xl shadow flex flex-col justify-between">
    <div class="p-4 sm:p-8">
      <div class="md:w-4/6">
        <label class="block text-gray-700 text-sm font-medium"
               for="technicalName"
        >
          Technical name
        </label>
        <input id="technicalName"
               class="block mt-1 border border-gray-300 focus:outline-indigo-500 rounded-md px-3 py-1.5 w-full shadow-sm disabled:bg-gray-200"
               type="text"
               placeholder="my-feature"
               [(ngModel)]="feature.technicalName"
               [disabled]="loading"
        >
      </div>

      <div class="md:w-4/6 mt-4 sm:mt-8">
        <label class="block text-gray-700 text-sm font-medium"
               for="displayName"
        >
          Display name
        </label>
        <input id="displayName"
               class="block mt-1 border border-gray-300 focus:outline-indigo-500 rounded-md px-3 py-1.5 w-full shadow-sm disabled:bg-gray-200"
               type="text"
               placeholder="My Feature"
               [(ngModel)]="feature.displayName"
               [disabled]="loading"
        >
      </div>

      <div class="mt-4 sm:mt-8">
        <label class="block text-gray-700 text-sm font-medium"
               for="description"
        >
          Description
        </label>
        <textarea id="description"
                  class="block mt-1 border border-gray-300 focus:outline-indigo-500 rounded-md px-3 py-1.5 w-full shadow-sm disabled:bg-gray-200"
                  placeholder="Lorem ipsum..."
                  rows="5"
                  [(ngModel)]="feature.description"
                  [disabled]="loading"
        ></textarea>
      </div>

      <div class="md:w-4/6 mt-4 sm:mt-8">
        <label class="block text-gray-700 text-sm font-medium"
               for="expiresOn"
        >
          Expires on
        </label>
        <input id="expiresOn"
               class="block mt-1 border border-gray-300 focus:outline-indigo-500 rounded-md px-3 py-1.5 w-full shadow-sm disabled:bg-gray-200"
               type="datetime-local"
               [attr.value]="getExpiredOnDatetime()"
               (change)="setExpiredOnDatetime($event)"
               [disabled]="loading"
        >
      </div>

      <div class="mt-4 sm:mt-8">
        <label class="block text-gray-700 text-sm font-medium"
               for="inverted"
        >
          Toggle status
        </label>
        <input id="inverted"
               type="button"
               value="{{ feature.inverted ? 'Disabled' : 'Enabled' }}"
               class="mt-1 px-2 sm:px-4 py-1 sm:py-2 text-sm sm:text-base bg-green-600 focus:outline-none focus:bg-green-700 hover:bg-green-700 text-white font-bold cursor-pointer rounded-lg tracking-wide shadow"
               [class.bg-green-600]="!feature.inverted"
               [class.bg-red-600]="feature.inverted"
               [class.hover:bg-green-700]="!feature.inverted"
               [class.hover:bg-red-700]="feature.inverted"
               [class.focus:bg-green-700]="!feature.inverted"
               [class.focus:bg-red-700]="feature.inverted"
               [class.disabled:bg-green-700]="!feature.inverted"
               [class.disabled:bg-red-700]="feature.inverted"
               (click)="invert()"
               [disabled]="loading"
        >
      </div>

      <div class="mt-4 sm:mt-8">
        <label class="block text-gray-700 text-sm font-medium"
               for="customers"
        >
          Customers
        </label>

        <div *ngFor="let customerId of feature.customerIds; index as i"
             class="mt-1 flex rounded-md shadow-sm"
        >
          <input type="text"
                 name="company-website"
                 id="customers"
                 class="block px-3 py-1.5 flex-1 rounded-none rounded-l-md border border-gray-300 focus:outline-indigo-500 text-sm sm:text-base"
                 value="{{ customerId }}"
                 (change)="changeCustomer($event, i)"
          >
          <button
            class="inline-flex items-center rounded-r-md border border-l-0 border-red-300 bg-red-100 hover:bg-red-200 px-3 font-bold text-red-600"
            (click)="removeCustomer(i)"
          >
            X
          </button>
        </div>

        <button
          class="w-32 sm:w-64 mt-2 px-2 sm:px-4 py-1 sm:py-2 text-sm sm:text-base bg-indigo-600 hover:bg-indigo-700 focus:bg-indigo-700 rounded-lg text-white tracking-wide focus:outline-none disabled:bg-indigo-700"
          (click)="addCustomer()"
          [disabled]="loading"
        >
          Add customer
        </button>
      </div>
    </div>

    <div class="p-6 bg-gray-50 flex items-center justify-end rounded-xl">
      <button
        class="mx-1.5 px-2 sm:px-4 py-1 sm:py-2 text-sm sm:text-base hover:bg-gray-100 focus:bg-gray-100 border border-gray-300 rounded-lg tracking-wide shadow focus:outline-none disabled:bg-gray-100"
        (click)="goBack()"
        [disabled]="loading"
      >
        Cancel
      </button>
      <button
        class="mx-1.5 px-2 sm:px-4 py-1 sm:py-2 text-sm sm:text-base bg-indigo-600 focus:bg-indigo-700 hover:bg-indigo-700 text-white rounded-lg tracking-wide shadow focus:outline-none disabled:bg-indigo-700"
        (click)="saveFeature()"
        [disabled]="loading"
      >
        Save
      </button>
    </div>
  </div>

</div>

